<h1>
  This is my second component
</h1>
<br/>
<hr/>
<br/>
<br/>
<br/>
<div *ngFor=" let board of (boards$ | async) "class="hello">
      {{board.boardShortName}}
      <button (click)="likeBoard(board.id)">likeBoard</button>
      {{board.likes.length}}
</div>
