<div class="boardBanner">
<div class="ui container" *ngFor="let user of users$ | async ">
    <div class="ui grid">
        <div class=" six wide column">
            <img class="ui medium image" [src]="user.imageLink" >
        </div>
        <div class="ten wide column RightBanner">
            <h1> {{user.name}} </h1>
            <div class="ui grid">
              <div class="eight wide column">
                From: {{user.homeCity}}, {{user.homeCountry}}
              </div>
              <div *ngIf="isAuth()" >
              <div  class="eight wide column">
                <div *ngIf="userInfo.id !== user.id">
                  <button *ngIf="user.iamFollowing === false" (click)="followUser(user.id)" class="medium ui basic button  right floated teal">
                    Follow {{user.firstname}}
                  </button>
                  <button *ngIf="user.iamFollowing === true" class="medium ui button  right floated teal">
                    Follwing {{user.firstname}}
                  </button>
                </div>
              </div>
               <div class="sixteen wide column" *ngIf="userInfo.id === user.id">
                <sm-accordion style="border-bottom">
                  <sm-accordion-item>
                    <accordion-title>
                      Add Interests
                    </accordion-title>
                    <accordion-content>

                        <div *ngFor="let tag of tags, let i = index" class="eight wide column">
                          <div class="ui checkbox">
                              <input type="checkbox"  id="{{tag.tagId}}" #cv [checked]=false (change)="onTagSelect(tag.tagId,cv.checked)">
                                <label> {{tag.tagName}}</label>
                          </div>
                        </div>
                        <br/>
                      <button (click)="addInterests()" class="mini basic teal ui button">Add +</button>

                    </accordion-content>

                  </sm-accordion-item>
                </sm-accordion>
                <br/>
                <br/>
              </div>
              <div class="sixteen wide column bottom aligned content">
                  {{user.interests.length}} Interests <br>
                  <div class="tags">
                    <div *ngFor="let about of user.interests" class="ui mini labeled compact button tagsButtons" tabindex="0">
                      <div (click)="goToTag(about.tagId)" class="ui mini compact basic orange button">
                          {{about.tagName}}
                      </div>

                      <button  (click)="followTag(about.id)" #tagId class="ui basic orange  mini label">
                        <i class="heart icon"></i>
                      </button>
                    </div>
                  </div>

              </div>
            </div>
            <div *ngIf="!isAuth()" class="">
              <div class="sixteen wide column bottom aligned content">
                  {{user.interests.length}} Interests <br>
                  <div class="tags">
                    <div *ngFor="let about of user.interests" class="ui mini labeled compact button tagsButtons" tabindex="0">
                      <div (click)="goToTag(about.tagId)" class="ui mini compact basic orange button">
                          {{about.tagName}}
                      </div>

                      <button class="ui basic orange  mini label">
                        <i class="heart icon"></i>
                      </button>
                    </div>
                  </div>

              </div>
            </div>

        </div>
    </div>
</div>
</div>
<div class="subMenuContainer">
  <div class="ui container">
      <sm-menu title="SecondMeny" class="ui menu secondary">
          <a  (click)="userBoard()" class="item" > Boards</a>
          <a  (click)="following()" class="item"> Following</a>
          <a  (click)="followers()" class="item"> Followers</a>
        </sm-menu>
  </div>
</div>
<router-outlet></router-outlet>
