<form  (ngSubmit)="getLogin()" class="ui form">
  <div class="field">
    <sm-input [control]="emailControl" type="email" name="email" placeholder="Email"></sm-input>
  </div>
  <div class="field">
    <sm-input  [control]="passwordControl" type="password" name="Password" placeholder="Password"></sm-input>
  </div>
  <button type="submit" class="ui button primary">Sign in</button> 
</form>
