<!-- <section class="boardBy">
  <div class="ui two column padded grid">
    <div class="column">
      <div *ngIf="isAuth()">
        <button class="ui button basic orange small" (click)="goToMain()"> By TBF </button>
        <button class="ui button basic orange small" (click)="goToByFollowing()"> By Following</button>
        <button class="ui button basic orange small" (click)="goToByLikes()"> By Likes </button>
      </div>
    </div>
    <div class="column right aligned ">
      <button class="ui button basic orange small" (click)="toggleScore()"> By score </button>
      <button class="ui button basic orange small" (click)="toggleDate()"> By Date</button>
    </div>
  </div>
</section>
-->

<section>
  <div class="holder ui container">

    <masonry>
    <masonry-brick class="brick"  *ngFor="let board of boards$ | async"  >
          <div class="ui card">
            <div class="content">

                <div class="boardTitle">{{board.boardShortName}}</div>
              <div class="meta">
                <i class="marker outline icon"></i>{{board.location}}
                <span class="right floated">
                    {{board.score}}
                </span>
              </div>
            </div>
            <div  class="image" (click)="gotoDetail(board)" >
              <img [src]="board.mainImageLink">
            </div>
            <div class="content">

              <div *ngIf="!isAuth()">
                <div>
                    <span class="right floated">
                      <i class="heart outline like icon"></i>
                      {{board.likes.length}}
                    </span>
                </div>
              </div>

              <div *ngIf="isAuth()">
                <div>
                  <span class="right floated">
                    <i *ngIf="board.likedByMe === true"  class="heart red like icon"></i>
                    <i *ngIf="board.likedByMe === false" (click)="likeBoard(board.id)" class="heart red outline like icon"></i>
                      {{board.likes.length}}
                  </span>
                </div>
              </div>

              <i class="tag icon"></i>
                {{board.about.length}}
            </div>
            <div class="extra content">
                <div *ngFor="let createdBy of board.createdBy" class="creator">
                  <div class="usr_hover" (click)="goToUser(createdBy.id)">
                    <img class="left floated ui avatar image" [src]="createdBy.imageLink">
                    {{createdBy.name}}
                  </div>
                </div>
            </div>
            <!--<sm-button (click)="detailedBoardQuick(board)" class="ui bottom attached ui basic green fluid" sm-dir-sidebar="left">Quick View</sm-button>-->
          </div>
   </masonry-brick>
 </masonry>
 </div>
</section>
