<div class="boardBanner">
<div class="ui container" *ngFor=" let board of detailBoard$ | async; ">
    <div class="ui grid">
        <div class="six wide column">
            <img class="ui medium image" [src]="board.mainImageLink" >
        </div>
        <div class="ten wide column RightBanner">
            <h1> {{board.boardShortName}} </h1>
            <h4>{{board.location}} | <span class="right floated"> <i class="asterisk outline icon"></i>  {{board.score}}</span></h4>
            <div class="ui grid">
              <div class="eight wide column">
                <div class="ui list">
                  <div class="item" *ngFor=" let createdBy of board.createdBy">
                    <img class="ui avatar image" [src]="createdBy.imageLink">
                    <div class="content">
                      <a class="header" (click)="goToUser(createdBy.id)" >{{createdBy.name}}</a>
                      <div class="description"><p> {{createdBy.homeCity}}, {{createdBy.homeCountry}} </p></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="eight wide column">

                <button *ngIf="board.likedByMe === false" (click)="likeBoard(board.id)" class="medium ui basic button teal">
                  Like Board {{board.likes.length}}
                </button>

                <button *ngIf="board.likedByMe === true" class="medium ui button teal">
                  <i class="thumbs up icon"></i>
                  You Like
                </button>

              </div>
              <div class="eight wide column bottom aligned content">
                <div *ngFor="let about of board.about" class="ui mini labeled compact button tagsButtons" tabindex="0">
                  <div (click)="goToTag(about.tagId)" class="ui mini compact basic orange button">
                      {{about.tagName}}
                  </div>

                  <button  (click)="followTag(about.id)" #tagId class="ui basic orange  mini label">
                    <i class="heart icon"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="isAuth()">
              <div class="eight wide column" *ngFor="let user of board.createdBy, let i = index">
                  <div *ngIf="user.id === userInfo.id">
                  <button class="mini ui basic button teal" (click)="snippetPopUp.show($event, {position: 'bottom center'})">
                    Add Snippet
                  </button>


                  <button class="mini ui basic button teal" (click)="invertedSidebar.show({dimPage: 'false'})">
                    Add Hotel
                  </button>

                  <sm-sidebar class="right vertical inverted sidebar hotelSidebar menu" #invertedSidebar>
                    <div class="item">
                      <h3 class="ui dividing inverted header"> Search hotels</h3>
                      <div class="ui icon input">
                        <input type="text" [formControl]="hotelSearchControl" placeholder="Search hotel by city">
                        <i class="search icon"></i>
                      </div>
                    </div>
                    <div *ngFor="let hotel of hotels | async" class="item">
                    {{hotel.hotelName}} <i (click)="addHotel(board.id, hotel)" class="add circle medium green icon"></i>
                    </div>
                  </sm-sidebar>

                  <sm-popup #snippetPopUp>
                    <form [formGroup]="snippetForm" (ngSubmit)="addSnippet(board.id)"  class="ui form">
                      <div class="field">
                        <input type="text" placeholder="Title"  formControlName="title" />
                      </div>
                      <div class="field">
                        <textarea type="textarea" name="snippet" formControlName="text" ></textarea>
                      </div>
                      <div class="field">
                        <div class="radio" *ngFor="let i of icons">
                          <label>
                              <input type="radio"
                                    formControlName="image"
                                    [value]="i"> <i class="{{i}} icon"></i>
                            </label>
                        </div>
                      </div>
                      <span class="right floated">
                        <button type="submit" class="ui mini basic teal button">Add</button>
                      </span>
                    </form>
                  </sm-popup>


                  </div>
              </div>
            </div>
            <div class="ui eight wide column">
                {{board.description}}
            </div>
            </div>
        </div>

    </div>
    <br/>
    <hr/>
    <br/>
    <masonry>
    <div  *ngFor="let snippet of board.snippets">
      <masonry-brick  class="brick">
      <div class="ui card">
        <div class="content">
          <div class="right floated meta">
              <i class="{{snippet.image}} icon circular pink"></i>
          </div>
          <div class="header">{{snippet.title}}</div>
          <div class="meta">
            <span>Show Time Added</span>
          </div>
          <p> {{snippet.text}} </p>
        </div>
      </div>
    </masonry-brick >
  </div >

    <div *ngFor="let hotel of board.hotels">
      <masonry-brick  class="brick">
      <div class="ui card">
        <div class="content">
          <img class="right floated mini ui image" [src]="hotel.hotelImage">
          <div class="header">{{hotel.name}}</div>
          <div class="meta">
            <span>Rating {{hotel.hotelRating}}</span>
          </div>
          <p> {{hotel.description}} </p>
        </div>
      </div>
      </masonry-brick >
    </div >
    </masonry>
  </div>
</div>
