.hotelSidebar{
  background-color: #1b1c1d;
  width: 320px;
  color: #fff;
}

.hotelSidebar h3{
  color:#fff;
}

.brick{
  /*float:left;*/
  width:19%;
  padding: 0.5%;
  /*height: 250px;*/
}

.radio {
  display: inline-block;
  margin:5px;
}
.radio label {
  display: inline-block;
}
