<section>
  <div class="ui two column padded grid">
    <div class="column">
      <div *ngIf="isAuth()">
        <button class="ui button basic orange small" (click)="toggleScore()"> By TBF </button>
        <button class="ui button basic orange small" (click)="toggleDate()"> By Following</button>
        <button class="ui button basic orange small" (click)="toggleScore()"> By Likes </button>
      </div>
    </div>
    <div class="column right aligned ">
      <button class="ui button basic orange small" (click)="toggleScore()"> By score </button>
      <button class="ui button basic orange small" (click)="toggleDate()"> By Date</button>
    </div>
  </div>
</section>

<section>
  <div class="holder ui container">
    <div class="msnrySizer"></div>
  
    <div class="brick"  *ngFor="let board of boards$ | async | orderBy: sort.field:sort.desc; let i = index"  >
          <div class="ui card">
            <div class="content">
                <div class="boardTitle">{{board.boardShortName}}</div>
              <div class="meta">
                <i class="marker outline icon"></i>{{board.location}}
                <span class="right floated">
                    {{board.score}}
                </span>
              </div>
            </div>
            <div  class="image" (click)="gotoDetail(board)" >
              <img [src]="board.mainImageLink">
            </div>
            <div class="content">
              <div *ngIf="!isAuth()">
                <div>
                    <span class="right floated">
                      <i class="heart outline like icon"></i>
                      {{board.likes.length}}
                    </span>
                </div>
              </div>
              <div *ngIf="isAuth()">
                <span class="right floated" (click)="likeBoard(board.id);  ">
                    <div *ngFor="let like of board.likes | likeBoardPipe: userInfo.id; let i = index  " [class.active]=" i == 0">
                      {{like | json}}
                      <template [ngIf]="like.value === true">
                        <i class="heart outline red like icon"></i>
                        {{board.likes.length}}
                      </template>

                      <template [ngIf]="like.id !== userInfo.id && i == 0">
                        <i class="heart outline like icon"></i>
                        {{board.likes.length}}
                      </template>

                    </div>

                    <template [ngIf]="board.likes.length === 0">
                      <i class="heart outline like icon"></i>
                        {{board.likes.length}}
                    </template>

                </span>

              </div>
              <template [ngIf]="!board.likes.id">
                <i class="heart outline like icon"></i>
                  {{board.likes.length}}
              </template>


              <i class="tag icon"></i>
                {{board.about.length}}
            </div>
            <div class="extra content">
                <div *ngFor="let createdBy of board.createdBy" class="creator">
                  <div class="usr_hover" (click)="goToUser(createdBy.id)">
                    <img class="left floated ui avatar image" [src]="createdBy.imageLink">
                    {{createdBy.name}}
                  </div>
                </div>
            </div>
            <!--<sm-button (click)="detailedBoardQuick(board)" class="ui bottom attached ui basic green fluid" sm-dir-sidebar="left">Quick View</sm-button>-->
          </div>
   </div>
 </div>
</section>
