<div class="ui text container" >
    <form [formGroup]="createUser" (ngSubmit)="onSignUp()" class="ui form">
      <h3 class="ui dividing hearder"> Sign Up</h3>
      <div class="field">
        <label>Name</label>
        <div class="two fields">
          <!-- Firstname / Lastname -->
          <div class="field">
            <sm-input [control]="firstName" placeholder="First name" ></sm-input>
          </div>
          <div class="field">
            <sm-input [control]="lastName" placeholder="Last name" ></sm-input>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Location</label>
        <div class="two fields">
          <div class="field">
            <sm-input [control]="city" placeholder="City" ></sm-input>
          </div>
          <div class="field">
            <sm-input [control]="country" placeholder="Country" ></sm-input>
          </div>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <sm-input [control]="gender" placeholder="Gender" ></sm-input>
        </div>
        <div class="field">
          <sm-input [control]="email" placeholder="Email" ></sm-input>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <sm-input [control]="password" placeholder="Password" ></sm-input>
        </div>

      </div>
      <button type="submit" class="button ui red basic"> Sign Up </button>
    </form>
</div>
