<div class="container fluid">
  <div class="ui grid">
    <div class="row menuRow">
      <div class="three wide column">
         <!-- <img src="src/images/ThosePlacesText.png"> -->
      </div>
      <div class="ten wide column">
        <div class="ui grid">
          <div class="two wide column brandLogo">
            <a [routerLink]="['./']">
              <img src="http://alpha.thoseplaces.com/src/images/THOSEPLACESlogoPositioner.png"></a>
          </div>
            <div class="twelve wide column">
              <div class="ui items">

                <input-debounce delay="500" location="Location" placeholder="Search thosePlaces" (value)="searchChanged($event)"></input-debounce>

                <sm-menu *ngIf="isAuth()" class="ui text menu" style="margin:0!Important;">
                  <div class="item" style="margin-left:0px!important; margin-right:0!important;" >
                    <i class="gb flag"></i>
                  </div>
                  <div class="item">
                    <a (click)="goToUser(userInfo.id)">
                     Welcome {{userInfo.firstname}}
                   </a>
                 </div>
                </sm-menu>
              </div>
            </div>
          <div class="two wide column">
          </div>
        </div>
      </div>
      <div class="three wide column">
          <sm-menu *ngIf="!isAuth()"  class="ui text menu">
          <a class="item" (click)="myPopup.show($event, {position: 'bottom center'})"> Sign in </a>
            <sm-popup #myPopup>
              <tsp-login></tsp-login>
            </sm-popup>
        </sm-menu>
        <sm-menu *ngIf="isAuth()" class="ui text menu">
            <button (click)="logOut()" class="singOut ui button basic red item"> Sign Out</button>
        </sm-menu>
      </div>
    </div>
  </div>
</div>
