<div class="ui container">
  <div class="ui cards">
    <div *ngFor="let followee of following" class="card">
      <div class="content">
        <img class="right floated avatar ui image" [src]="followee.imageLink">
        <div class="header">
          <a>
            {{followee.name}}
          </a>
        </div>
        <div class="meta">
          {{followee.homeCity}}, {{followee.homeCountry}}
        </div>
        <div class="description">
          {{followee.firstName}} And some fun information about the user
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div (click)="goToUser(followee.id)" class="ui basic pink button">View</div>
        </div>
      </div>
    </div>
  </div>
</div>
