<div class="ui text container">
  <br/>
  <div class="ui segment">

    <div class="ui left rail">
      <h3 class="ui dividing header"> Tags suggested by AI</h3>
      <div class="ui segment">
          <div *ngFor="let suggest of items | async, let i = index" class="ui list">
              <div class="item">
                  <i class="inverted circular large pink tag icon"></i>
                  <div class="content">
                    <div class="header">{{suggest.suggestedTag}}</div>
                    <div class="tagFont">  Probability: {{suggest.probability}}</div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="ui right rail">
      <h3 class="ui dividing header"> Suggested Hotels By AI ? </h3>
      <div  *ngFor="let hotel of hotels | async, let i = index"  class="ui card">
         <div class="content">
           <img class="right floated mini ui image" [src]="hotel.hotelImage">
           <div class="header">
             {{hotel.name}}
           </div>
           <div class="meta">
             Rating {{hotel.hotelRating}}
           </div>
           <div class="description">
             {{hotel.description}}
           </div>
         </div>
         <div class="extra content">
           <div class="ui two buttons">
             <div (click)="onAddHotel(hotel)" class="ui basic green button">Add To Board </div>
           </div>
         </div>
       </div>
       <div class="ui segment">
       </div>
    </div>


    <form [formGroup]="boardCreate" (ngSubmit)="createBoard()"  class="ui form">
      <h3 class="ui dividing header">Create Board</h3>
      <!-- Title -->
      <div class="field">
        <sm-input [control]="titleControl"
                  placeholder="Board Title">
        </sm-input>
      </div>
      <!-- Tags -->
      <div class="field">
        <sm-select
          [options]="{direction: 'downward'}"
          [control]="tagControl"
          placeholder="Select tags"
          class="fluid search multiple"
          (onChange)="onMultiple($event)"
          >
          <option *ngFor="let tag of tags, let i = index" value="{{tag.tagId}}">  {{tag.tagName}} </option>
        </sm-select>
      </div>
      <!-- description / location -->
      <div class="field">
        <div class="two fields">
          <!-- description -->
          <div class="field">
            <sm-textarea  [control]="descriptionControl"
                          placeholder="Board description" rows="4">
            </sm-textarea>
          </div>
          <!-- location -->
          <div class="field">
              <sm-input [control]="locationControl"
                        placeholder="Location">
              </sm-input>

              <div *ngIf="hotelAdded.length > 0" class="item">

                  <div *ngFor="let hotel of hotelAdded; let i of index" >
                      <i (click)="removeHotel(i)" class="remove circle red icon"></i>
                     {{hotel.hotelName}}
                  </div>

              </div>

          </div>

        </div>
      </div>
      <div class="field">
        <sm-input [control]="imgControl"
                  placeholder="Search Flickr for Images (Based on Location / This input )">
        </sm-input>
        <input type="text" [hidden]="true" [formControl]="flickrControl" [(ngModel)]="photoAdded">
      </div>
      <div class="row">
        <div *ngFor="let img of flickrImg | async" class="five column flickrImg">
          <img src="{{img}}" (click)="addPhotoToBoard(img)" [class.selected]="img == photoAdded" >
        </div>
      </div>
      <sm-button type="submit" (click)="isLoading($event)" [disabled]="!boardCreate.valid" class="red basic">Submit</sm-button>
    </form>
  </div>

</div>
