<div class="ui action input">

  <sm-input [control]="flickrInput" placeholder="SEARCHING Flicr"></sm-input>
  <!-- <input type="text" [(ngModel)]="searchStr" placeholder="Search flickr for photos"> -->

</div>
<br/> <br/>

<div class="ui five column grid">
    <div  *ngFor="let photo of photos" [class.selected]="photo.getUrl == photoAdded" (click)="addPhotoToBoard(photo.getUrl);">
      <img src="{{photo.getUrl}}">
  </div>
</div>

<br/><br/>
