<div class="ui right fluid small action input searchBarNav">
      <input type="text" [placeholder]="placeholder" [(ngModel)]="inputValue">
      <div *ngIf="isAuth()" (click)="createBoard()" class="ui button small labeled icon basic red">
          Create Board
        <i class="add red icon"></i>
      </div>
      <div *ngIf="!isAuth()" (click)="signUp()" class="ui button small labeled icon basic red">
          Sign Up
        <i class="add red icon"></i>
      </div>
    </div>
