<div class="ui two column padded grid">
  <div class="column">
      <h2>You have searched for: {{searchTerm}}</h2>
  </div>
  <div class="column  right aligned ">
    <button *ngIf="searchTerm.boards !== null" (click)="inc('boards')" class="ui button basic orange small">  Boards <span *ngIf="searchResults.boards"> {{searchResults.boards.length}}</span> </button>
    <button *ngIf="searchTerm.users !== null" (click)="inc('users')" class="ui button basic orange small"> Users <span *ngIf="searchResults.users"> {{searchResults.users.length}}</span> </button>
    <button *ngIf="searchTerm.hotels !== null" (click)="inc('hotels')" class="ui button basic orange small"> Hotels <span *ngIf="searchResults.hotels"> {{searchResults.hotels.length}}</span> </button>
  </div>
</div>


  <div class="holder ui container">
  <div class="ui category search">
    <!--<div class="ui icon search tiny input">
      <input type="text" [(ngModel)]="searchTerm" [ngFormControl]="term" />
        <i class="search icon"></i>
    </div> -->
    <div [ngSwitch]="value">
        <!-- HOTELS -->
        <template [ngSwitchCase]="'hotels'">
          <div class="holder">
            <masonry>
                <masonry-brick *ngFor=" let item of searchResults.hotels"  class="brick"  >
                  <div class="content">
                    <div class="ui card">
                      <div class="content">
                          {{item.name}}
                      </div>
                      <div  class="image" (click)="gotoDetail(board)" >

                        <img [src]="item.image">
                      </div>
                      <div class="content">
                          <i class="icon comment"> </i>{{item.description}}
                      </div>
                    </div>
                  </div>
                </masonry-brick>
            </masonry>
          </div>
        </template>
        <!-- Boards -->
        <template [ngSwitchCase]="'boards'">
          <div class="holder">
          <masonry>
            <masonry-brick class="brick"  *ngFor="let board of searchResults.boards"  >
                <div class="content">
                  <div class="ui card">
                    <div class="content">
                      {{board.boardShortName}}<br/>
                      <i class="marker outline icon"></i>
                      {{board.location}}
                    </div>
                    <div  class="image" (click)="gotoDetail(board)" >

                      <img [src]="board.mainImageLink">
                    </div>
                    <div class="content">
                      <span class="right floated">
                        <i *ngIf="board.likedByMe === false" class="heart outline black like icon"></i>
                        <i *ngIf="board.likedByMe === true" class="heart outline red like icon"></i>
                        {{board.likes.length}}
                      </span>
                      <i class="tag icon"></i>
                        {{board.about.length}}

                    </div>
                    <div class="extra content">
                        <div *ngFor="let createdBy of board.createdBy" class="creator">
                          <div class="usr_hover" (click)="goToUser(createdBy.id)">
                            <img class="left floated ui avatar image" [src]="createdBy.imageLink">
                            {{createdBy.name}}
                          </div>
                        </div>
                    </div>
                    <!--<sm-button (click)="detailedBoardQuick(board)" class="ui bottom attached ui basic green fluid" sm-dir-sidebar="left">Quick View</sm-button>-->
                  </div>
                </div>
            </masonry-brick>
          </masonry>
        </div>
        </template>
        <template [ngSwitchCase]="'users'">
          <div class="holder">
            <div class="msnrySizer"></div>
              <masonry>
                <masonry-brick *ngFor="let item of searchResults.users"  class="brick" >

                  <div class="ui cards">
                    <div class="card">
                      <div class="content">
                        <img class="right floated mini ui image" [src]="item.imageLink">
                        <div class="header">
                          {{item.name}}
                        </div>
                        <div class="meta">
                          {{item.homeCity}}, {{item.homeCountry}}
                        </div>
                        <div class="description">
                          {{item.firstName}}  // And some fun information about the user
                        </div>
                      </div>
                      <div class="extra content">
                        <div class="ui two buttons">
                          <div (click)="goToUser(item.id)" class="ui basic pink button">View</div>
                        </div>
                      </div>
                    </div>
                  </div>

                </masonry-brick>
              </masonry>
          </div>
        </template>
        <!-- default-->
        <template ngSwitchDefault>
          <div class="holder">
          <div class="msnrySizer"></div>
          <masonry>
          <masonry-brick class="brick"  *ngFor=" let board of searchResults.boards"  >
              <div class="content">
                <div class="ui card">
                  <div class="content">
                    {{board.boardShortName}}<br/>
                    <i class="marker outline icon"></i>
                    {{board.location}}
                  </div>
                  <div  class="image" (click)="gotoDetail(board)" >
                    <img [src]="board.mainImageLink">
                  </div>
                  <div class="content">
                    <span class="right floated">
                      <i *ngIf="board.likedByMe === false" class="heart outline black like icon"></i>
                      <i *ngIf="board.likedByMe === true" class="heart outline red like icon"></i>
                         {{board.likes.length}}
                    </span>
                    <i class="tag icon"></i>
                      {{board.about.length}}
                  </div>
                  <div class="extra content">
                      <div *ngFor="let createdBy of board.createdBy" class="creator">
                        <div class="usr_hover" (click)="goToUser(createdBy.id)">
                          <img class="left floated ui avatar image" [src]="createdBy.imageLink">
                          {{createdBy.name}}
                        </div>
                      </div>
                  </div>
                  <!--<sm-button (click)="detailedBoardQuick(board)" class="ui bottom attached ui basic green fluid" sm-dir-sidebar="left">Quick View</sm-button>-->
                </div>
              </div>
          </masonry-brick>
        </masonry>
        </div>
        </template>

    </div>


  </div>
</div>
