.brick{
  /*float:left;*/
  width:19%;
  padding: 0.5%;
}
.ui.card>.image, .ui.cards>.card>.image{
  overflow: hidden;
}
.brick .image img {
  width: 275px!important;
  height: 200px!important;
}

.boardBy{
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
